/* body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}
.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
} */



.header-style {
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #a16f68;
  }
  

.side-nav {
    background-color: #a97b75;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
  }
  
 .a {
    color: antiquewhite;
 }

  .menu {
    list-style:none;
    background-color: #a97b75;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
   }

   .menu ul li {
    display: inline;
    padding: 10px;
   }

   .menu ul li a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: antiquewhite;
    font-size: 20px;

   }

    .menu ul li a:hover {
    color:rgb(245, 209, 136);
    transition: background .4s;
   }

    .body{ 
    background: #f3f4f9;
    display: block;
    font-size: 30px;
    height: 500px;
  }